.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.logo {
  animation: rotate 3.5s linear infinite;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
