.container {
  display: flex;
  flex-direction: column;
}
.status {
  display: flex;
  gap: 36px;
}
.status_subtitle {
  margin: 0;
}
.orders_ready,
.orders_inprogress {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 272px;
  height: 208px;
}
.orders_ready_ids {
  width: 272px;
  height: 152px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  flex-wrap: wrap;
}
.orders_ready_id {
  width: 88px;
  color: #00cccc;
}
.stat_count {
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25),
    0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}
