.itemList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}
.card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 272px;
    height: 208px;
    position: relative;
    cursor: pointer;
}
.price {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
}
.img {
    height: 120px;
}
.name {
    height: 48px;
    text-align: center;
}
