.container {
  display: flex;
  margin: 0 auto;
  max-width: 1280px;
  box-sizing: border-box;
  padding: 120px 20px;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 320px;
}
.menu_item {
  display: flex;
  align-items: center;
  height: 64px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.menu_description {
  opacity: 0.4;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
