.container {
  display: flex;
  margin: 0 auto;
  max-width: 1280px;
  box-sizing: border-box;
  padding: 120px 20px;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 320px;
}
.menu_item {
  display: flex;
  align-items: center;
  height: 64px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.menu_description {
  opacity: 0.4;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.editHandler {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 24px;
  color: #4c4cff;
}
.editHandler_cancel:hover {
  text-decoration: underline;
  cursor: pointer;
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25),
    0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}
